<h1>Search by Vehicle</h1>

<%= form_with url: root_path, method: :get, local: true do %>

  <!-- Vehicle Make Dropdown -->
  <div>
    <%= label_tag :vehicle_make_id, "Select Make:" %>
    <%= select_tag :vehicle_make_id, options_from_collection_for_select(@vehicle_makes, :id, :make_name, params[:vehicle_make_id]), prompt: "Choose Make", onchange: 'this.form.submit();' %>
  </div>

  <!-- Vehicle Model Dropdown -->
  <div>
    <%= label_tag :vehicle_model_id, "Select Model:" %>
    <%= select_tag :vehicle_model_id, options_from_collection_for_select(@vehicle_models, :id, :name_model, params[:vehicle_model_id]), prompt: "Choose Model", onchange: 'this.form.submit();' %>
  </div>

  <!-- Vehicle Year Dropdown -->
  <div>
    <%= label_tag :vehicle_year_id, "Select Year:" %>
    <%= select_tag :vehicle_year_id, options_from_collection_for_select(@vehicle_years, :id, :year, params[:vehicle_year_id]), prompt: "Choose Year", onchange: 'this.form.submit();' %>
  </div>

    <!-- Origin Dropdown -->
  <div>
    <%= label_tag :origin_id, "Select Origin:" %>
    <%= select_tag :origin_id, options_from_collection_for_select(@origins, :id, :origin_name, params[:origin_id]), prompt: "Choose Origin", onchange: 'this.form.submit();' %>
  </div>

  <!-- Engine Dropdown -->
  <div>
    <%= label_tag :engine_id, "Select Engine:" %>
    <%= select_tag :engine_id, options_from_collection_for_select(@engines, :id, :engine_power, params[:engine_id]), prompt: "Choose Engine", onchange: 'this.form.submit();' %>
  </div>

  <!-- Search Button -->
  <div>
    <%= submit_tag "Search Products" %>
  </div>

<% end %>

<!-- Results Section -->
<% if @products.present? %>
  <h2>Products</h2>
  <ul>
    <% @products.each do |product| %>
      <li>
        <%= product.manufacturer.name %> - <%= product.part.name %> - <%= product.part_number %> (OEM: <%= product.oem_number %>)
      </li>
    <% end %>
  </ul>
<% elsif params[:vehicle_make_id].present? %>
  <p>No products found for the selected vehicle.</p>
<% end %>
